---
permalink: "index.html"
---

{% extends "_layouts/default.njk" %} {% set pageTitle = 'Gulp firestarter 2023 (v1.1.0)' %} {% block main %} {% include
'_partials/partial.njk' %}

<p class="">
    <a href="https://github.com/redpop/gulp-firestarter-2023" target="_blank"
        >https://github.com/redpop/gulp-firestarter-2023</a
    >
</p>
{% endblock %}
