<section
    class="hero min-height-100vh flex items-center"
    style="background-image: url('/img/hero-img-1.jpg');"
>
    <div class="container max-width-adaptive-sm">
        <div class="text-center">
            <div class="text-component margin-bottom-sm">
                <h1>Gulp starter kit 2020</h1>
                <p>
                    <a
                        href="https://gitlab.com/redpop/gulp-firestarter-2020"
                        target="_blank"
                        >https://gitlab.com/redpop/gulp-firestarter-2020</a
                    >
                </p>
            </div>
            <div class="text-sm opacity-60% margin-bottom-xxs">
                Photo by asoggetti on Unsplash
            </div>
        </div>
    </div>
</section>
